.width45{
    width: 45%;
}
.widthCard1 {
    width: 10rem
}

.big_text1 {
    font-size: 3.3rem;
}
.heigh90 {
    height: 50px;
   
}
.height08 {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 3px;
}
.textleft {
    text-align: left;
    padding-left: 12px;
}